.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
}

body {
  background-color: #6c84b4;
}

input {
  caret-color: rgb(227, 179, 179);
}

.input-group {
  margin: auto;
  width: 60%;
}

input[type="text"] {
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.fa {
  color: white;
}

@media only screen and (min-width: 1400px) {
  .flip-card {
    flex: 1 0 20%;
  }
}

.flip-card {
  /* flex: 1 0 20%; */
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  font-family: calibri;
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}


